{
  "trailingComma": "es5",
  "tabWidth": 4,
  "printWidth": 100,
  "semi": true,
  "singleQuote": false,
  "overrides": [
    {
      "files": "**/*.md",
      "options": {
        "tabWidth": 2,
        "printWidth": 80
      }
    }
  ]
}
